@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<html>
    <head>
        <title></title>
    </head>
    <body>
        <p>@Localizer["Page Title"]</p>
        <p>---</p>
        <p>@ViewData["Titulo"]</p>
    </body>
</html>