@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<html>
    <head>
        <title>@ViewData["Pag"]</title>
    </head>
    <body>
        <p>Directly from the Action: @ViewData["Pag"]</p>
        <ul>
            <li><a href="?culture=pt-BR">Português (BR)</a></li>
            <li><a href="?culture=en-US">English (US)</a></li>
        </ul>
    </body>
</html>