@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<html>
    <head>
        <title>@ViewData["Pag"]</title>
    </head>
    <body>
        <p>Directly from the Action: @ViewData["Pag"]</p>
    </body>
</html>